<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Главная</title>
</head>
<h1><span style="color: #ff0000;">G<em><span style="color: #0000ff;">bank</span></em></span></h1>
<hr />
<p>
  <span style="color: #ff0000;"><span style="color: #0000ff;"><a title="Войти" href="/bank/login">Войти </a></span></span>
  <span style="color: #ff0000;"><span style="color: #0000ff;"><a title="Администратор" href="/bank/api/v1/admin"> Администратор</a></span></span>
</p>
<hr />
<h4><span style="color: #ff0000;"><strong>Наши тарифы:</strong></span></h4>

<table style="width: 100%; border-collapse: collapse; border-style: solid; margin-left: auto; margin-right: auto;" border="2">
  <tbody>
  <tr>
    <td style="width: 33.3333%;">№</td>
    <td style="width: 33.3333%;">Название</td>
    <td style="width: 33.3333%;">Цена</td>
  </tr>
    <tr th:each="tarif: ${tarifs}">
      <td style = "text-align: center;" th:text="${tarif.id}"/>
      <td style = "text-align: center;" th:text="${tarif.name}"/>
      <td style = "text-align: center;" th:text="${tarif.cost}"/>
    </tr>
  </tbody>
</table>
</table>
</html>